/* componenst css */

.header h6{
    font-size: 0.8em !important;
    font-weight: 900 !important;
    /* padding-top: 0.5em; */
    padding-right: 3em;
    width: fit-content;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header h6:hover{
    /* color:grey; */
    color: #94b7cb;
    margin-left: 0.05em;
}