/* componenst css */

.header button{
    border: none;
    width: fit-content;
    background-color: transparent;
    font-size: 0.8em !important;
    font-weight: 900 !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.75em;
    /* padding-top: 0.5em; */
    /* padding-right: 3em;
    width: fit-content; */
    cursor: pointer;
    transition: 0.2s;
    margin-left: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* filter: hue-rotate(0deg) saturate(2);
    animation: colorBtnChange 10s infinite linear; */
    
}
@keyframes colorBtnChange {
    0% {
        filter: hue-rotate(0deg) saturate(2);
        opacity: 0.75;
    }
    100% {
        filter: hue-rotate(360deg) saturate(2);
        opacity: 0.75;
    }
}

.header button:focus{
    outline: none;
    color: #94b7cb;
    /* filter: hue-rotate(0deg) saturate(2);
    animation: colorBtnChange 10s infinite linear; */
}
.button-colorfy button:focus{
    outline: none;
    color: #94b7cb;
    filter: hue-rotate(0deg) saturate(2);
    animation: colorBtnChange 10s infinite linear;
}
.header button:hover{
    /* color:grey; */
    color: #94b7cb;
    margin-left: 0.05em;
}
/* .button-colorfy button:hover{
    filter: hue-rotate(0deg) saturate(2) !important;
    animation: colorBtnChange 10s infinite linear !important;
} */