/* MAIN CSS */
*{
    /* font-family: "Quicksand", sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    /* color: rgb(36, 36, 36); */
}
#root {
    min-width: 100vw; 
    height: calc(100vh - 2em);
    /* margin-top: 2em; */
    /* border: 1px solid black; */
}


.start-loader {
    margin: auto;
    margin-top: 40vh;
    font-size: 1.5em;
    font-style: italic;
    animation: fade 3.5s ease-in-out forwards;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



.user-popup-box{
    position: fixed;
    border-radius: 10px;
    bottom:2em;
    left: 1em;
    width: 30%;
    height: 30%;
    background-color: #2e2e2e;
    color: rgb(246, 246, 246);
    z-index: 20;
    padding: 2em 2em;
    text-align: left;
    box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.3);
}
.user-popup-box h6{
    font-size: 1.8em;
    font-weight: 200;
}
.user-popup-box p{
    font-size: 0.9em;
    font-weight: 400;
}
.popup-animation{
    animation: slide-up 0.8s ease-in-out forwards;
}
@keyframes slide-up {
    0% {
        transform: translateY(400px); 
        opacity: 0; 
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
}
.fade-page{
    animation: fadePage 0.8s ease-in-out forwards;
}
@keyframes fadePage {
    0% {
        opacity: 1;
        background-color: inherit;
    }
    100% {
        opacity: 0.5;
        background-color: rgb(0, 0, 0, 0.2);
    }
}
.user-popup-confirm-box{
    position: fixed;
    border-radius: 10px;
    bottom:2em;
    left: 1em;
    width: 15em;
    height: 5em;
    background-color: #2e2e2e;
    color: rgb(246, 246, 246);
    z-index: 20;
    padding: 2em 2em;
    text-align: left;
    box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.3);
}
.user-popup-confirm-box h6{
    font-weight: 400;
}
.popup-confrim-animation{
    animation: slide-up2 3s ease-in-out forwards;
}
@keyframes slide-up2 {
    0% {
        transform: translateY(400px); 
        opacity: 0; 
    }
    25% {
        transform: translateY(0); 
        opacity: 1;
    }
    75% {
        transform: translateY(0); 
        opacity: 1;
    }
    100% {
        transform: translateY(400); 
        opacity: 0;
    }
}

.outside-top{
    position: fixed;
    top: 0.5em;
    overflow: hidden;
    height: 1em;
    width: 95vw;
    text-align: left;
}
.outside-top h6{
    font-weight: 700;
    font-size: 0.85em;
    color: rgb(53, 53, 53);
    /* transform: rotate(-90deg); */
}
.outside-left{
    position: fixed;
    bottom: 2em;
}
.outside-left a:focus{
    color: #94b7cb;
    outline: none;
}
.outside-left h6{
    font-weight: 700;
    font-size: 0.85em;
    color: rgb(53, 53, 53);
    /* transform: rotate(-90deg); */
}
.outside-left a{
    color: rgb(53, 53, 53);
    font-size: 1em;
    padding-bottom: 0.2em;
    margin-left: 1em;
}


.wrapper{
    position: relative;
    overflow: hidden;
    /* padding: 1em 0; */
    /* margin: 0 -15%; */
    min-width: 95vw; 
    height: calc(100vh - 6em);
    padding: 2em;
    border: 1px solid rgb(0, 0, 0);
    /* background-color: rgb(243, 243, 243); */
}
.background-video {
    opacity: 0.1;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    object-fit: cover;
    z-index: -10; 
    filter: grayscale(100%);
    /* animation: fadeBg 1.5s ease-in forwards; */

    /* filter: saturate(2); 
    filter: hue-rotate(240deg) saturate(2);
    filter: grayscale(80%) hue-rotate(120deg);  */
    /* filter: hue-rotate(0deg) saturate(2);
    animation: colorChange 10s infinite linear; */
}
.colorfy-bg {
    filter: hue-rotate(0deg) saturate(2);
    animation: colorChange 10s infinite linear, fadeBg 1s ease-in-out forwards;
    
}
@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg) saturate(2);
        opacity: 0.2;
    }
    100% {
        filter: hue-rotate(360deg) saturate(2);
        opacity: 0.2;
    }
}
@keyframes fadeBg {
    0% {
        opacity: 0;
    }
    100% {
        opacity:0.2;
    }
}




/*    ------------- INDEX ------------  */

.left-inner-wrapper{
    margin-top: 2em;
    text-align: left;
    width: fit-content;
    z-index: 10;
}
.left-inner-wrapper h5{
    color: rgb(74, 74, 74);
    font-size: 4.4em;
    font-weight: 100 !important;
}
.left-inner-wrapper h6{
    color: rgb(74, 74, 74);
    font-weight: 300;
    font-size: 1.2em;
    margin-top: 0.2em;
}

.right-inner-wrapper{
    position: fixed;
    right: 4em;
    bottom: 20%;
    text-align: right;
    z-index: 0;
}
.right-inner-wrapper a{
    font-size: 1.6em !important;
    /* font-style: italic; */
    color:rgb(96, 96, 96) !important;
    font-weight: 400;
    transition: 0.5s;
    cursor: pointer;
}
.right-inner-wrapper a:hover{
    margin-right: 0.1em;
    color: #94b7cb !important;
    text-decoration: none;
    /* filter: hue-rotate(0deg) saturate(1); */
    /* animation: colorChange 10s infinite linear; */
}
.right-inner-wrapper span{
    font-size: 0.9em !important;
    margin-right: 1em;    
    font-weight: 500;
}

.project{
    position: relative;
    margin-top: 0.75em;
}
.info-box {
    text-align: left;
    position: absolute;
    top: -100%; 
    left: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(47, 47, 47);
    border: 1px solid #ccc;
    padding: 1.5em;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 25em;
    animation: fadeInfo 0.5s ease-in-out forwards;

}
@keyframes fadeInfo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.info-box .title {
    
}
.info-box .description {
    font-style: italic;
}
.info-box .image {
    margin: 0;
}

@media screen and (max-width: 1280px) {
    .wrapper{
        /* border: none; */
    }
    .left-inner-wrapper h5{
        font-size: 2em;
    }
    .left-inner-wrapper h6{
        font-size: 0.9em;
    }
    .right-inner-wrapper{
        bottom: 20%;
        font-size: 0.8em;
    }
    .right-inner-wrapper a{
        font-size: 1.4em !important;
    }
}
@media screen and (max-width: 771px) {
    .wrapper{
        border: none;
        padding: 0;
    }
    .wrapper hr{
        visibility: hidden;
    }
    .right-inner-wrapper{
        width: 25em;
        font-size: 0.7em;
    }
    .right-inner-wrapper span{
        display: none;
    }
    .outside-left{
        visibility: hidden;
    }
    .outside-top{
        visibility: hidden;
    }
}

/*    ------------- ME ------------  */

.me-box{
    position: fixed;
    right: 5em;
    bottom: 10em;
    width: 20em;
    text-align: right;
    margin-top: 5em;
    animation: fadeMe 1s ease-in-out forwards;
}
.me-box span{
    color: rgb(163, 163, 163);
}

@keyframes fadeMe {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 771px) {
    .me-box{
        bottom: 3em;
        right: 2em;
        width: 15em;
    }
    .me-box h6{
     font-size: 0.8em;
    }
}


/*    ------------- SKILLS ------------  */
.skills-box{
    position: fixed;
    right: 5em;
    bottom: 5em;
    width: 30em;
    text-align: right;
    margin-top: 5em;
    animation: fadeSkills 1s ease-in-out forwards;
}
.skills-box h5{
    color: rgb(163, 163, 163);
    font-style: italic;
    font-size: 1em;
    font-weight: 400;
}

@keyframes fadeSkills {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}

@media screen and (max-width: 771px) {
    .skills-box{
        bottom: 2em;
        right: 2em;
        width: fit-content;
    }
    .skills-box h6{
     font-size: 0.75em;
    }
    .skills-box h5{
        font-size: 0.8em;
       }
}

/*    ------------- CONTACT ------------  */

.contact-box{
    position: fixed;
    right: 5em;
    bottom: 10em;
    width: 20em;
    text-align: right;
    margin-top: 5em;
    animation: fadeContact 1s ease-in-out forwards;
}
.contact-box span{
    color: rgb(163, 163, 163);
}

@keyframes fadeContact {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media screen and (max-width: 771px) {
    .contact-box{
        bottom: 5em;
        right: 2em;
        width: fit-content;
    }
    .contact-box h6{
     font-size: 0.8em;
    }
}
